/* Override the central listener so the right half simply sends raw data without processing it locally */
&trackball_central_listener {
    input-processors = <>;
};

/* Disable trackball config so it doesn't fail building on the peripheral */
/ {
    trackball_config {
        status = "disabled";
    };
    chosen {
        /delete-property/ gggw,trackball-config-uart;
    };
};

&tbcfg_acm {
    status = "disabled";
};
